.hue-yellow {
  background-color: $col_yellow;
}
.hue-green {
  background-color: $col_green;
}
.hue-pink {
  background-color: $col_pink;
}
.hue-grey-light {
  background-color: $col_light;
}
.hue-grey-mid {
  background-color: $col_mid;
  color: #fff;
}
.hue-grey-dark {
  background-color: $col_dark;
  color: #fff;
}