/* TNA fonts */
$tna_body_font: 'Open Sans', sans-serif;
$tna_heading_font: 'Roboto Mono', monospace;

/* TNA colours */
$primary_alert: #fce45c;
$tna_light: #eee;
$tna_mid: #666;
$tna_dark: #222;

$grid_line: 2px solid #000;

/* TNA Icons/Images */
$tna_icon_24_link:url('../img/icon-24-heading-link.png');
$tna_icon_envelope:url('../img/icon-envelope.png');
$tna_icon_rss:url('../img/icon-rss.png');
$tna_icon_facebook:url('../img/icon-social-facebook.png');
$tna_icon_flickr:url('../img/icon-social-flickr.png');
$tna_icon_twitter:url('../img/icon-social-twitter.png');
$tna_icon_youtube:url('../img/icon-social-youtube-play.png');
$tna_icon_calendar:url(../img/icon-calendar.svg);
$tna_icon_audio:url('../img/icon-audio.png');
$tna_icon_video:url('../img/icon-video.png');
