$break-small : 380px;
$break-tiny : 400px;
$break-medium : 768px;
$break-large : 960px;
$line-color : #DDD;
$link-color :  #007bff;

.popular-collections li {
	min-height: 150px;
}

.popular-collections, .research-guides {
	li {
        position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		min-height: 170px;
		margin-bottom: 10px;
		@media screen and (min-width: $break-tiny) {
			background-position: center center;
	}
		@media screen and (min-width: $break-small) {
			display: block;
			width: 100%;
			min-height: 150px;
			background: #ddd center center;
			background-size: cover;
		}
		@media screen and (min-width: 568px) and (max-width: 960px) {
			background-position: center center;
		}
		@media screen and (min-width: 768px) and (max-width: 960px) {
			display: block;
			width: 96%;
			max-height: 160px;
			background-position: center center;
		}
        a {
            position: absolute;
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;
            &:hover {
                background-color: rgba(255,255,255,0.15);
                @include background-transition(background-color, 300ms);
            }
    		> span {
	    		display: block;
				position: absolute;
				bottom: 0;
		    	margin: 10px 10px 0 0;
		    	padding: 5px;
			    background-color: #000;
				font-family: "Roboto Mono", monospace;
				font-size: 1em;
		    }
        }
	}
	#navy {
		background-image: url($image-path + 'navy.png');
	}

	#marines {
		background-image: url($image-path + 'marines.png');
	}

	#medals {
		background-image: url($image-path + 'military.png');
	}

	#wills {
		background-image: url($image-path + 'wills.png');
	}

	#raf {
		background-image: url($image-path + 'raf.png');
	}

	#more {
		background-image: url($image-path + 'other.png');
	}
}

.primary-search-box {
	.field-validation-error {
		display: block;
		padding: 0.5em;
		margin-bottom: 0.5em;
		border: 2px solid #CB0D07;
		background-color: #fdf2f2;
		border-radius: 4px;
	}
	.search-form-container {
		color: inherit;
		max-width: 80%;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		@media only screen and (min-width: $break-medium) {
			width: 75%;
		}
		@media only screen and (min-width: $break-large) {
			width: 46%;
		}
		padding: 1em;
		#tna-only + label, #tna-digitised-only + label {
			display: inline;
		}
		.checkbox-holder {
            .no-js & {
                color: #FFF;
            }
			text-align: center;
			padding: 0.5em 0;
			span {
				display: inline-block;
				&:first-child {
					margin-right: 10px;
	            }
            }
		}
        #search-all-collections {
            @extend .search-collections;
        }
	}
	header {
		color: inherit;
		.no-js & {
			color: #FFF;
		}
		text-align: center;
		h1 {
			font-family: "Roboto Mono", monospace;
			font-weight: 400;
			z-index: 2;
			line-height: 1.6;
			letter-spacing: -.025em;

			> span {
				font-size: 1.5em;
				background-image: none;
				padding: 0;
			}
		}
		> p {
			font-family: "Roboto Mono", monospace;
			font-size: 1.2em;
			letter-spacing:-.025em;
			margin: 0 auto;
			max-width: 400px;
			padding: 0 .5em;
		}
	}
}

.popular-tags {
    b {
        font-size: 1.4em;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
    }
    .call-to-action-link {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 1em;
    }
    ul {
        @extend .bullet-list;
    }
}

.link-wrapper {
    text-align: right;
    .call-to-action-link {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 1em;
    }
}

#main-search-container {
	@extend .small-spacer-below;
}

#main-search-container {
    position: relative;
}

#main-search-container input[type="submit"] {
	@extend .search-button-positioner;
}

.home {
	.holds-columns-together {
		background-color: #DDD;
	}
	#search-expander {
		display: none;
	}

	ol {
        @extend .bullet-list;
	    li:before {
		    counter-increment: item;
		    content: counter(item);
		    background-color: #ececec;
		    border-radius: 50%;
	    	padding: 4px;
			display: block;
			width: 24px;
			height:24px;
			text-align: center;
			float: left;
			margin: -5px 7px 0 0;
			font-family: 'Bitter', serif;
			line-height:1.35;
			font-size:1.16em;
	    }
	}

	ul.popular-search-terms {
        @extend .bullet-list;
		padding-left: .6em;
	}

	#page-controls {
		ul {
			color: #FFF;
			background-color: #000;
			background-color: rgba(0,0,0,.5);
			border: 2px solid black;
			display: inline-block;
			padding: 0.4em;

			li { padding-bottom: .25em; line-height:1.25;
				&:first-child {
					a {
						padding-left: 0;
					}
				}
			}
		}
		a {
			color: #fce45c;
		}
	}
	#breadcrumb {
		ul {
			color: #FFF;
			background-color: #000;
			background-color: rgba(0,0,0,.5);
			display: inline-block;
			border: 2px solid black;
			padding: 0.4em;
			a {
				background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/breadcrumb-separator-white.png);
				padding-right: 1.4em;
				color: #fce45c;
			}
		}

	}

	#page_wrap {
		padding-top: 0;
		.search-banner {
			@include background-transition(background-image, 2s);
			@media screen and (min-width: $break-large) {
				min-height: 288px;
			}
			background-color: #000;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			.container {
				padding-top: 0.6em;
			}
		}
		.more-options {
			display: block;
			font-size: 0.85em;
			background-color: #dde5d5;
			color: #000;
			padding: 0.6em 0;
			text-align: center;
			margin-bottom: 2.5em;
			margin-top: 0;
			width: 100%;

			a {
				color: $link-color;
			}
		}
	}

	.research-guides {

		min-height: 100px;

		#family-history {
			background-image: url($image-path + 'discovery-family-history.jpg');
			background-position: center center;
		}
		#ww1 {
			background-image: url($image-path + 'banner-category-firstworldwar.jpg');
			background-position: center center;
		}
		#subject {
			background-image: url($image-path + 'banner-category-medievalearlymodern.jpg');
			background-position: center center;
		}
	}

	figure { margin:1em 0 0 0;
		img {
			max-width: 100%;
		}
		figcaption {
			font-size: 1em;
			line-height:1.6;
			padding-bottom:20px;
		}
	}

	.find-an-archive {
		@extend .link-heading;
		background-image: url($image-path + 'MPB_1_7_1605.jpg');
		background-position: center center;
		padding-bottom: 0;
		.archive-search-wrapper {
			font-family: "Roboto Mono", monospace;
			@media only screen and (min-width: $break-medium) {
				margin-top: 110px;
			}
			fieldset {
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.8);
				margin-bottom: 0;
				padding: 1em;
				border: none;
			}
			label {
				color: #FFF;
				padding-top: 0;
				margin-bottom: 0.9em;
				display: block;

			}
            #archive-search {
                @extend .search-collections;
            }
			.archive-search-positioner {
				position: relative;
				input[type=submit] {
					@extend .search-button-positioner;
				}
			}
            p {
                color: #FFF;
                margin-bottom: 0;
            }
            a {
                color: #FCE45C;
            }

		}
	}

	.discover-ww1 {
        @extend .link-heading;
		background-color: #000;
		background-image: url($image-path + 'discover-ww1.jpg');
		background-position: right center;
		background-repeat: no-repeat;
			.discover-ww1-wrapper {
				margin: 110px 0 10px 0;
				padding: 1px 1em;
				background: #fff;
				background: rgba(255,255,255, .92);
				font-family: "Roboto Mono", monospace;

			}
	}

}
