.record-copying {
	.page-check-form {
		border: 1px solid #DDD;
		margin-top: 1em;
		padding: 1em;
		background-color: #EFEFEF;
	}

	.page-check-form textarea {
		min-width: 98.2%;
	}


	.progress-tabs {
		font-size: 0.85em;
	}

	.progress-tabs-label {
		margin-top: 1em;
		display: inline-block;
		background-color: #DEDEDE;
		padding: 0 1em 0 1em;
	}

	.progress-tabs ul[role=tablist] {
		counter-reset: stepnumber;
		padding: 1em 1em 0 1em;
		border: 5px solid #DDD;
		margin-top: 0;
		margin-bottom: 1em;
		text-align: center;
	}

	.progress-tabs ul[role=tablist] li {
		padding: 0.5em 1.5em 0.5em 0.5em;
		margin-bottom: 1em;
		display: block;
		background-color: #E2E2E2;
		background-image: url('https://discovery.nationalarchives.gov.uk/images/inactive-step-indicator-last.png');
		background-repeat: no-repeat;
		background-position: right center;

		@media only screen and (min-width: 768px) {
			display: inline-block;
			min-width: 40%;
		}

		@media only screen and (min-width: 960px) {
			display: inline-block;
			min-width: 0;
		}
	}

	.progress-tabs ul[role=tablist] li.completed-step button {
		color: #777;
	}

	.progress-tabs ul[role=tablist] li.completed-step button:after {
		content: " (completed)";
		font-size: 0.8em;
	}

	.progress-tabs ul[role=tablist] li.selected {
		background-image: url('https://discovery.nationalarchives.gov.uk/images/active-step-indicator.png');
		background-color: #405480;
		color: #FFF;
		border-bottom: none;
	}

	.progress-tabs ul[role=tablist] li.selected button {
		text-decoration: underline;
		color: #FFF;
	}

	.confirm-and-pay {
		.copying-options {
			border: 1px dotted #CCC;
			padding: 1em;
			margin-top: 1em;
		}

		table {
			width: 100%;
			text-align: left;

			td, th {
				vertical-align: top;
				text-align: left;
			}

			caption {
				display: none;
			}
		}

		.price-wrapper {
			position: relative;

			.copying-price {
				font-size: 1.5em;
				border: 1px dotted #DDD;
				background-color: #EFEFEF;
				padding: 1em;
				padding-right: 6em;
			}

			#add-to-basket {
				position: absolute;
				top: 1.5em;
				right: 1.5em;
			}
		}
	}

	div[role=tabpanel] {
		border: 2px solid #DDD;
		padding: 1em;
	}

	div[role=tabpanel] ul {
		padding-left: 1em;
	}

	div[role=tabpanel] li {
		list-style-type: disc;
	}

	input[type=submit]:disabled {
		background: #ccc;
	}

	#catalogue-reference:disabled {
		background: transparent;
		border: none;
	}

	.download-items {
		li {
			padding: 1em;
			border: 1px solid #DDD;
			border-bottom: none;
			&:first-child {
				border-bottom: none;
			}
			&:last-child {
				border-bottom: 1px solid #DDD;
			}
			.download-link {
				font-size: 0.85em;
				display: inline-block;
				padding: 0.1em 0.5em;
				background-color: #EFEFEF;
				border-radius: 3px;
				border: 1px solid #CDCDCD;
			}
		}
	}
	.file-size {
		color: #555;
		font-size: .85em;
		display: inline-block;
		background: 0 0;
	}
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
