$image-path : 'https://discovery.nationalarchives.gov.uk/Content/images/';
$break-small : 380px;
$break-tiny : 400px;
$break-medium : 768px;
$break-large : 960px;
$line-color : #DDD;
$white : #FFF;
$almost-white : #FEFEFE;
$light-grey : #EFEFEF;
$black : #000;
$link-color :  #007bff;
$margin : 1.1em;
$blue : #405480;
