.education-landing {
    .education {
        min-height: 150px;
        background-size: cover;
        background-position: center center;
        position: relative;
        a {
            display: block;
            color: #fff;
            text-align: left;
            >span {
                //margin: 10px 10px 0 0;
                padding: 5px;
                background-color: #000;
                font-size: 1em;
                position: absolute;
                bottom: 0;
            }
        }
    }
    .subject-information {
        p {
            font-size: 1.5em;
        }
    }
    .bottom-spacing {
        margin-bottom: 2em;
    }
    .video {
        position: relative;
        .icon-square {
            margin: 1em 0.5em 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: 68% 68%;
            background-repeat: no-repeat;
        }
        .icon-video {
            background-image: url(../img/video.png);
            width: 41px;
            height: 41px;
        }
    }
}