/* TNA fonts */
$tna_body_font: 'Open Sans', sans-serif;
$tna_heading_font: 'Roboto Mono', monospace;

/* TNA colours */
$col_alert: #fbe2bc;
$col_success: #dde5d5;
$col_error: #fad3d4;
$col_yellow: #fbe2bc;
$col_green: #dde5d5;
$col_pink: #fad3d4;
$col_warm: #f9f7e2;
$col_cool: #DAD9D6;
$col_light: #eee;
$col_mid_light: #ddd;
$col_mid_dark: #555;
$col_dark: #222;


$grid_line: 2px solid #000;

/* TNA Icons/Images */
$tna_icon_24_link:url('../img/icon-24-heading-link.png');
$tna_icon_envelope:url('../img/icon-envelope.png');
$tna_icon_rss:url('../img/icon-rss.png');
$tna_icon_facebook:url('../img/icon-social-facebook.png');
$tna_icon_flickr:url('../img/icon-social-flickr.png');
$tna_icon_twitter:url('../img/icon-social-twitter.png');
$tna_icon_youtube:url('../img/icon-social-youtube-play.png');
$tna_icon_calendar:url(../img/icon-calendar.svg);
$tna_icon_audio:url('../img/icon-audio.png');
$tna_icon_video:url('../img/icon-video.png');
$tna_icon_info:url('../img/icon-info.png');
$tna_icon_chevron_down:url('../img/icon-chevron-down.png');
$tna_icon_chevron_up_lg:url('../img/icon-chevron-up-lg.png');
$tna_icon_chevron_down_lg:url('../img/icon-chevron-down-lg.png');
$tna_icon_menu:url('../img/icon-menu.png');
$tna_icon_search:url('../img/icon-search.png');
