body {
  background-color: #fff;
}

a:link, a:visited, a:active, .mimic-link {
  color: #007bff;
  text-decoration: none;
}

h1{
  border-top: 2px solid #000;
  padding-top: 14px;
  span{
    margin-left: 0;
    span{
      background-color: #fff;
      color: #000;
      font-family: 'Roboto Mono', monospace;
      padding :0;
    }
  }
}

h2 {
  font-family: 'Roboto Mono', monospace;
  span {
    span {
      background-color: #fff;
      color: #000;
    }
  }
}

.breather{
  .pictorial-list {
    div.resource-block {
      h3 {
        font-family: 'Roboto Mono', monospace;
      }
    }
  }
}

ul.quadruplets {
  padding-left: 0;

  li {
    list-style: none;

    a {
      color: #007bff;
    }
  }
}

#page_wrap {
  .row:nth-of-type(2) {
    div:first-of-type{
      .breather {
        border: 2px solid #ddd;
      }
    }
  }

  div.row:nth-of-type(3) {
    div.starts-at-full:first-of-type{
      position: relative;
      border-left: 2px solid #000;
      border-right: 2px solid #000;
      width: 65%;

      &:after {
        display: block;
        content: "";
        background-color: #fff;
        height: 75%;
        width: 2px;
        position: absolute;
        bottom: 0;
        right: -2px;
        visibility: visible;
      }

      div:first-of-type{
        h2 {
          border-bottom: 2px solid #000;

          span{
            span {
              margin-left: 25px;
              margin-bottom: 14px;
            }
          }
        }
      }
    }

    div.starts-at-full:nth-of-type(2) {
      div.heading-holding-banner {
        h2 {
          span {
            span {
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
}

.pictorial-list {
  .resource-block {
    a {
      h3 {
        color: #007bff;
      }
    }
  }
}

a.button {
  background-color: #000;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 0.5em;
  display: inline-block;
  min-width: 24px;
  text-align: center;
  border: 2px solid #000;

  &:hover {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }
}

#bundle-tile a span {
  color: #fff;
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin-top: 30px;
  margin-bottom: 16px;
}

.newsletter-template {
  background: #dde5d5;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1.6em 40px 0 40px;
}

.newsletter-template .news-form form input[type=submit] {
  height: 48px;
  font-family: "Roboto Mono", monospace;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-left: none;
  padding: 0.5em 0.9em;
  display: inline-block;
  min-width: 24px;
  text-align: center;
  margin: 0;
}

@media (max-width: 976px) {
  .newsletter-template .news-form form input[type=email] {
    width: 100%;
    max-width: 480px;
    display: block;
    margin-bottom: 10px;
  }
}

#footer-wrapper {
  background-color: #000;
  background-position: -6em 20px;
  background-repeat: no-repeat;
  color: #FCFCFC;
  padding-top: 2em;
  padding-bottom: 2em;

  a {
    color: #fbe2bc;
  }

  li {
    border-top: none;
  }

  h4 {
    font-family: 'Roboto Mono', monospace;
  }

  address {
    font-family: 'Open Sans', sans-serif;
  }
}

.follow-us a img {
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 7px;
  margin: 0 0.2em 0.3em 0;
  width: 25px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s;
}

.separator-illusion {
  display: none;
}

#page-header {
  background-color: #26262a;
}

#mega-menu-pull-down {
  background-color: red;
}

#search-field-wrapper input[type=submit], #mobile-search-wrapper input[type=submit] {
  background-color: #000;
}

#search-field-wrapper input[type=submit], #scope-selector {
  border: 2px solid #fff;
}

#search-field-wrapper input[type=submit] {
  border-left: none;
}

#scope-selector {
  height: 36px;
  border-right: none;
}

.newsletter-template .news-content h2 {
  font-family: "Roboto Mono", monospace;
}

.newsletter-template .news-form form input[type=email] {
  max-width: 73%;
  padding: 0.6em;
  text-indent: 5px;
  border: 2px solid #000;
  min-width: 220px;
}
