.advanced-search-form legend {
	background: $white;
	padding: 0.5em;

	.no-js & {
		display: block !important;
	}
}

.advanced-search-form li {
	list-style-type: none;
}

.initially-hidden {
	.js & {
		display: block;
	}
}

#record-opening-date {
	margin: 0;

	li {
		height: 2.5em;
	}
}

.auto-check {
	#rodDate {
		width: auto;
	}
}

.field-row {
	margin-bottom: 0.5em;

	label {
		display: inline-block;
		margin: 0;
		width: 47%;
		padding: 0 0 .3em .3em;
	}
}

.advanced-search {
	.field-validation-error {
		display: block;

		@media only screen and (min-width: $break-medium) {
			margin-bottom: 0.5em;
			display: inline-block;
			margin-left: 48%;
		}
	}
}


.has-radio label {
	display: inline;
	padding-left: 0.6em;
}

label.inline {
	display: inline-block;
	width: auto;
}

.dates input {
	margin-right: 0;
}

.date {
	width: 6.5em;
	margin-bottom: 5px;
}

.long-list {
	font-size: 0.85em;
	list-style-type: none;
	background-color: #dde5d5;
	padding: 1.6em;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

#search-within-reference {
	background-color: $light-grey;
	padding: 1.2em 10px 10px 10px;
}

#search-within {
	.holds-dynamic-elements label {
		display: inline;
	}
}

.repositories select {
	font-size: 0.85em;
	max-width: 60%;
	overflow: hidden;
}

.repositories option {
	max-width: 80%;
}

input[type=checkbox]:disabled + label {
	color: #777;
}

#rodfromdate {
	margin-right: 0;
}

.waiting {
	background-image: url($image-path + 'ajax-load.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.date-periods li {
	display: inline-block;
	margin-right: 1em;
}

.date-periods label {
	width: auto;
}

.advanced-search-form li {
	list-style: none;
}

.field-row div {
	display: inline-block;
	margin: .5em 4% 0 0;
}

.field-row .long-list {
	margin-right: 0;
}

#departments, #assoc-places, .linked-selectors {
	.no-js & {
		display: none;
	}
}

#assoc-places {
	display: none;
}

button {
	background: transparent;

	&:focus {
		@extend .focussed-element;
	}
}

#unit-tests {
	background-color: $white;
}

.buttons-at-top {
	position: absolute;
	top: 1em;
	right: 0.5em;
}

.button-holder {
	text-align: right;
	padding-right: 1em;

	input {
		&:last-child {
			margin-right: 0;
		}
	}
}

#departments {
	padding: 1.6em;
}

#tabs-pointed {
	ul {
		margin: 0;
		position: relative;
		border-bottom: 2px solid #000;
		overflow: hidden;
	}

	li {
		display: inline-block;
		text-align: center;
		min-width: 150px;

		@media only screen and (min-width: $break-medium) {
			min-width: 200px;
		}
	}

	button {
		margin: .5em 2.5%;
		padding: .5em 2.5%;
		width: 90%;
	}
}

#taxonomy-subjects {
	li {
		@media only screen and (min-width: $break-medium) {
			display: inline-block;
			width: 44%;
		}
		@media only screen and (min-width: $break-large) {
			display: inline-block;
			width: 32%;
		}
		label {
			width: auto;
		}
	}
}

.tri-down-fff {
	display: none;
}


div.field-row {
    div.form-field-label {
        label {
            width:auto;
        }
    }
    div.form-field-right {
        float:right;
        width: 52%;
        margin-right:0;
        input {
            width: 30%;
            margin-right:3%;
        }
    }
}

@media (max-width: 767px) {
    div.form-field-label {
        display:block;
    }
    div.field-row {
         display:block;
         div.form-field-right {
            width: auto;
            input {
                width: 100%;
               }
         }
    }
}
