@font-face{
	font-family: 'Bitter';
	src: url('https://discovery.nationalarchives.gov.uk/Content/fonts/Bitter-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont-iefix.eot') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

main {
    min-height: 760px;
}

address {
    font-style: normal;
}

.no-js .interactive-element {
    visibility: hidden;
}

.not-shown {
    display: none;
}

.not-shown-if-js {
    color: #000;
}

.js .not-shown-if-js {
    display: none;
}

.no-js .not-shown-if-no-js {
    display: none;
}

.no-js #advanced-search-tabs ul {
    display: none;
}

.no-js .departments {
    max-height: 300px;
    overflow: scroll;
}

#search-control-panel .not-at-smaller {
    display: none;
}

ul[role="tablist"] li:hover {
    cursor: pointer;
}

ul[role="tablist"] li[aria-selected="true"] {
    cursor: auto;
}
ul.dotted {
    list-style: disc;
    list-style-position: outside;
    margin: 0 0 .75em 1em;
    line-height: 1.6;
    list-style-image: url(https://discovery.nationalarchives.gov.uk/Content/images/list-bullet.png);
}

body {
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin: 10px 0;
}

h1 > span {
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: .42em;
}

h1 > span > span, h2 > span > span {
    display: inline-block;
    padding: 4px 10px;
}

.heading-holding-banner {
  h1 {
    span {
      padding: 0 0 .5em 0;
    }
  }
}

h2 > span, h3 > span {
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/heading-flourish.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: .54em;
    margin-left: -10px;
}

h3 > span > span {
    display: inline-block;
    padding: .2em .6em .2em .34em;
}

h4 {
    font-family: Bitter, serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 150%;
    margin-bottom: .5rem;
    padding: 0;
}

p {
    line-height: 1.6em;
}

#search-options-outer-wrapper {
    padding: 1em;
}

#search-options-outer-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page_wrap {
    padding-top: .6em;
}

#holds-breadcrumb .col {
    margin-bottom: 0;
    padding: 0;
}

#change-destination span {
    padding-top: .5em;
    display: inline-block;
}

#change-destination label {
    padding: 0 .5em 0 .3em;
}

#show-more-options span {
    background-image: url(https://discovery.nationalarchives.gov.uk/images/global/arrow-collapsed.png);
    background-position: 168px 10px;
    background-repeat: no-repeat;
}

.container {
    width: 92%;
    margin: 0 auto;
}

.row {
    position: relative;
}

.row:after, .col:after, .clr:after, .group:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.col {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 0.5em;
    min-height: 100%;
}

.starts-at-half {
    width: 49%;
}

.topMostLinks {
	ul {
		margin-top: 0.2em;
	    list-style-type: none;
		font-size: .85em;
	}
	li {
		display: inline-block;
	}
}


#page-controls div.pageLevelControlsSupplemental {
	background-color: #FCE45C;
	background-color: rgba(252,228,92,.5);
    padding: 0.5em ;
	margin-top: .5em;


	input[type=text] {
		width: 50%;

	}

	input[type=submit] {
		margin-top: .5em;
		margin-left: .5em;
		}

		form a {
		display: block;
		margin-top: .5em;
		}



}


#bookmarkAddedSuccessfully {

	background-color: #FCE45C;
    background-color: rgba(252,228,92,.5);
	padding: 0 0.2em;

}

#breadcrumb {
	@extend .topMostLinks;
	a {
		background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/breadcrumb-separator.png);
		background-position: right center;
		background-repeat: no-repeat;
		padding-right: 1.1em;
		margin-right: .2em;
	}
}

#page-controls {
	@extend .topMostLinks;
	text-align: right;
	a {
		padding-left: 1.1em;
		margin-left: .2em;
	}

}

#page-controls 	li span.bm {
		padding-left: 1.1em;
		margin-left: .2em;

	}

#page-controls a#bookmarkLink {
    //background: url("../Content/images/bookmark-off.png") no-repeat scroll 0 0px transparent;
    background: url("https://discovery.nationalarchives.gov.uk/Content/images/bookmark-off.png") no-repeat scroll 0 0px transparent;
    padding-left: 19px;
}

#page-controls a#bookmarkLink.active{
		background: url("https://discovery.nationalarchives.gov.uk/Content/images/bookmark-on.png") no-repeat scroll 0 0px transparent;
		padding-left: 19px;
  //
	}

.primary-search-box {
    min-height: 224px;
}

.other .supplemental-options {
    padding-top: 1em;
}

.distinct {
    display: block;
    padding: 0.7em;
    border: 1px solid #DEDEDE;
    margin-bottom: 0.2em;
    background-color: rgba(255,255,255,0.97);
}

.distinct span {
    display: block;
}

#primary-search-options {
    margin: 0;
}

#primary-search-options li {
    list-style-type: none;
    display: inline-block;
    font-family: Bitter, serif;
    font-size: 1.2em;
    margin-top: .6em;
    padding: 8px;
}

#primary-search-wrapper {
    position: relative;
    border: 3px solid transparent;
    background-color: #FEFEFE;
}

#primary-search-wrapper #submit {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(https://discovery.nationalarchives.gov.uk/Content/images/search-white.png) no-repeat center;
    color: transparent;
}

.img-desc p {
    font-size: .8em;
    float: right;
    margin: 0;
}

.img-desc p a {
    font-size: .8em;
}

.call-to-action-link {
    text-decoration: none;
    font-size: 1em;
    line-height: 130%;
    margin: 0 0 10px 10px;
    padding: .5em;
}


.call-to-action-link span:last-child {
    display: inline-block;
    text-transform: capitalize;
}

#search-expander {
    width: 40px;
    height: 40px;
    background: url(https://discovery.nationalarchives.gov.uk/Content/images/search-white.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    cursor: pointer;
}

#search-expander.expanded {
    background: url(https://discovery.nationalarchives.gov.uk/Content/images/close-search.png) no-repeat center;
}

.pull-down {
    margin: 20px 0 0;
    padding-bottom: 0;
}

#logo-holder {
    padding-bottom: 0px;
    img {
        max-width: 85%;
    }
    a {
        &:focus {
            &:after {
                content: attr(title);
                position: absolute;
                font-size: 0.85em;
                bottom: 0;
                left: 0;
            }
        }
    }
}



#global-controls {
    list-style: none;
    margin: 0;
    padding: 0;
}

#breadcrumb-holder .col + .col {
    margin-top: 0;
}

.img-desc {
    width: 100%;
}

.heading-holding-banner {
  border-top: 2px solid #000;
    padding: 2px 0;
}
.heading-holding-banner h1, .heading-holding-banner h2, .heading-holding-banner h3, .holding-box div h2, .holding-box div h3 {
	margin:10px 0;
	}
.a-z {
	 ul {
			font-family: Bitter, serif;
			list-style-type: none;
			padding: 0;
			margin-bottom: 0.2em;
		}

	li {
		text-align: center;
		list-style-type: none;
		display: inline-block;
		margin: 0 4px 4px 0;
		padding: 0
	}

	li a, li span {
		font-family: Bitter, serif;
		font-size: 1.25em;
		display: inline-block;
		width: 40px;
		height: auto;
		color: #FEFEFE;
		border-radius: 50%;
		text-decoration: none;
		line-height: 40px;
		-webkit-transition: background-color 180ms linear;
		-moz-transition: background-color 180ms linear;
		-o-transition: background-color 180ms linear;
		-ms-transition: background-color 180ms linear;
		transition: background-color 180ms linear
	}
	a {
		background-color: #099;
		color: #FFF;
		&:hover, &.selected {
			text-decoration: none;
			background: #FCE45C;
			color: #000
		}
	}

	span {
		background-color: #CCC;
		color: #FFF;
		&.selected {
			background: #FCE45C;
			color: #000
		}
	}

}

#query {
    width: 82%;
    padding: .6em;
}

#options-button {
    font-family: Bitter, serif;
    font-size: 1.2em;
    display: inline-block;
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/menu-collapsed-small.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 8px 23px 8px 8px;
    text-decoration: none;
}

#options-button.expanded {
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/menu-expanded-small.png);
}

#advanced-search-button {
    font-size: .8em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 5px;
    text-decoration: none;
    -webkit-transition: background-color 180ms linear;
    -moz-transition: background-color 180ms linear;
    -o-transition: background-color 180ms linear;
    -ms-transition: background-color 180ms linear;
    transition: background-color 180ms linear;
}

h2 > span > span a, h3 a, h3 a:visited, h3 a:active, h4 a, h4 a:visited, h4 a:active, #primary-search-options a {
    text-decoration: none;
}

h3 a:hover, h4 a:hover, .pictorial-list li a:hover {
    text-decoration: underline;
}

#search-options-outer-wrapper h3, .row .col:nth-child(1), .becomes-half:nth-child(odd) {
    margin-left: 0;
}

#breadcrumb span, label#search, #primary-search-options span, .call-to-action-link span:first-child, #search-field-wrapper, #options-button span {
    display: none;
}

#page-header .col, #breadcrumb-holder .col, #popular-online-collections-discovery {
    margin-bottom: 0;
}

#global-controls a {
    float: right;
}

div[id$=box-discovery] .call-to-action-link {
    float: right;
}

.breather-all {
	padding:1em
}

#home-page-popular-collections {
    margin-top: 0;
}

.search-form-container {
    color: #FFF;
    padding: 1.2em;
}

.results-form .search-form-container {
    background-color: transparent;
    color: #FFF;
    margin: 0;
    padding: 0;
	display: inline-block;
}

#search-options-inner-wrapper label, #search-options-inner-wrapper span, #search-options-inner-wrapper a {
    font-size: 0.85em;
}

.js #search-options-inner-wrapper h4 {
    cursor: pointer;
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/mega-menu-plus.png);
    background-repeat: no-repeat;
    background-position: 7px 8px;
    padding-left: 23px;
}

.js #search-options-inner-wrapper h4.expanded {
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/mega-menu-minus.png);
}

.js #search-options-inner-wrapper h4:hover {
    cursor: pointer;
    background-color: #565656;
}

.tip {
    font-size: 0.85em;
}

.js #search-subject ul li ul {
    display: none;
    margin-left: 20px;
}

.js #search-subject ul li ul li {
    line-height: 1.6em;
}

form .emphasis-block {
    margin-bottom: 1em;
}

#search-results .emphasis-block ul {
    padding-left: 2em;
}

#search-results .emphasis-block li {
    list-style: disc;
    list-style-position: outside;
	margin: 0 0 .75em 0;
	line-height: 1.6;
	list-style-image: url(https://discovery.nationalarchives.gov.uk/Content/images/list-bullet.png);
}

.emphasis-block h2, .emphasis-block h3 {
    color: #383838;
}

.inline {
    color: #222;
    display: inline-block;
	margin: 0.5em 0;
}

.search-tabs {
    margin-top: 0;
}

.search-tabs li {
    display: inline-block;
}

.search-tabs li a {
    display: inline-block;
    padding-bottom: 0.4em;
}

.search-tabs li a.current {
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/tab-flourish.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.search-tabs li a span {
    display: inline-block;
    padding: 0.4em;
}

/*.date-field {
    width: 12.5em;
}*/

.box {
	padding-bottom: 0!important;
}

#page_wrap .results-form {
    background: #dddddd;
	padding: 0 0 1em 0;
	display: inline-block;
	margin-bottom: 0;

		h1 {
			margin-bottom: .5em;
		}


		.breather {
			padding-bottom: 1em;
		}
}

.search-form-container a {
    display: inline-block
}

.show-tabs-call-to-action p {
    display: inline-block;
    background-color: #222;
    color: #FFF;
    padding: 0.3em 1em;
}

#search-all-container {
    padding-bottom: 0.6em;
}

.show-tabs-call-to-action p a {
    color: #FCE45C;
    border-bottom: 1px dotted #FCE45C;
}

.show-tabs-call-to-action p a:hover {
    text-decoration: none;
}

.link-to-advanced-search {
    margin-top: 0px;
}

#tna-digitised-only {
    margin-right: 0.2em;
}

#tna-only {
    margin-right: 0.2em;
}

.smaller, .advanced-search-prompt {
    font-size: 0.85em;
}

.subtitle {
    padding: 8px 8px 8px 15px;
    margin: -20px 10px 0 0;
    display: inline-block;
    background: #fff;
}


.search-form-container .advanced-search-prompt a {
    color: #FCE45C;
	font-size: 1em;
}

div.general-tag-list-item span.flagTag a {
    background: url(https://discovery.nationalarchives.gov.uk/Content/images/flag.png) center center no-repeat;
    color: transparent;
    display: inline-block;
    max-width: 1em;
    max-height: 1em;
    overflow: hidden;
}

.holds-columns-together {
    position: relative;
}

.holds-columns-together p {
    margin: 0 0 .5em 0;
}

.generic-tabs {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
}

#generic-tabs {
    margin: 0;
  border-bottom: 2px solid black;
  overflow: hidden;
	li {
	    display: inline-block;
		text-align: center;
		width: 49%;
		margin: 0;
		background-color: #FFF;
		padding: .5em 0;
		float:left;
		&:first-child {
			margin-right: 2%;
		}
      span{
        font-family: 'Roboto Mono', monospace;
      }
	}
	#archive-contact-tab {
		display: none;
	}
}

span.tab-description {
    display: inline-block;
    width: 98%;
    margin: 1em 0 0 0;
    padding: 4px 6px;
    text-align: center;
    font-size: .9em;
}

.row-browse-ancestors {
	margin-bottom:1em
}

.row-tabbed-content {
    padding: 1em;
    background-color: #fff;

}

.row-browse-content {
    padding: 0 1em 1em 1em;
    background-color: #fff;
}

.col-no-bottom {
	margin-bottom:0
}

.col-tabbed-content {
    background-color: #CCC;
}

.advanced-search-prompt {
    padding-top: 0.5em;
}

::-webkit-input-placeholder {
    color: #222;
    &:focus {
        color: #000
    }
}

:-moz-placeholder { /* Firefox 18- */
    color: #222;
    &:focus {
        color: #000
    }
}

::-moz-placeholder { /* Firefox 19+ */
    color: #222;
    &:focus {
        color: #000
    }
}

:-ms-input-placeholder {
    color: #222;
    &:focus {
        color: #000
    }
}

.no-results {
	margin: 1em 0;
	padding: 1em;

	p {
	/*padding: 1em 0 1em 1em;*/
	}

	ul {
		margin-left: 2em;
	}

	li {
		list-style: disc;
	}

}

.statistic {
    font-family: 'Bitter', serif;
    font-size: 1.5em;
    display: block;
    margin: 10px 0;
}

.strapline {
    background-color: #fff;
    margin: -8px 10px 0 0;
    padding: 5px 10px;
    display: inline-block;
}

/* START OF Styles specific to foirequest view */

.foi-reqeust fieldset span.indicate-mandatory-form-element {
	background-image: none;
    padding-bottom: 0;
    margin-left: 0;
	color: red;
}

.foi-request label {
	display: block;
	float: left;
	width: 100%;
}

@media only screen and (min-width: 768px) {
    .foi-request label {
	    width: 35%;
        margin-right: 1.4%;
    }
}

/* END OF Styles specific to foirequest view */

//#unit-tests {
//	display: none;
//}
