#delivered-by {
    margin-top: 1.5em;
    max-width: 40%;
    float: right;
}

label {
    font-family: 'Open Sans', sans-serif !important;
}

nav ul {
    padding: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    margin-right: 0.5em;
}

nav li a {
    border-right: 1px solid #DDD;
    padding-right: 0.8em;
}

nav li:last-child a {
    border: none;
}

nav li:last-child {
    margin-right: 0;
}

#locale {
    text-align: right;
}

#locale li:first-child::after {
    content: '\/';
    margin-left: 0.7em;
    color: #DDD;
}

#search {
    margin-top: 0.5em;
    background-color: #383838;
    padding: 1em;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

input {
    border: 2px solid #26262a;
    padding: 8px;
    border-color: transparent;
}

#search input[type=search] {
    width: 30%;
}

#search input[type=submit] {
    background-color: #1d70b8;
    color: rgba(255, 255, 255, 1);
    border-color: transparent;
    width: 4em;
}

#primary-navigation {
    background-color: #383838;
    padding: 0.7em 1em 0.5em 1em;
}

#primary-navigation a {
    color: #fff;
    border-right: 1px solid #999 !important;
}

#paging {
    padding: 1em;
    background-color: #EEEEEE;
}

#paging ul {
    display: flex;
    justify-content: space-between;
}

#paging li a {
    position: relative;
    top: 0.5em;
    border: none;
}

#paging h2 {
    margin: 0;
    position: relative;
    top: 0.1em;
    text-align: center;
}

main {
    padding: 2em;
}

.section-number {
    margin-right: 4em;
}

.sub-section {
    display: flex;
}

.sub-section .sub-section-number {
    text-align: right;
    padding-right: 1em;
    flex-basis: 10%;
}

sup {
    font-weight: bold;
    font-size: 1em;
}

.sub-section .legislation-content {
    flex-basis: 90%;
}

.sub-sub-section {
    display: flex;
}

.sub-sub-section .sub-section-number {
    text-align: right;
    padding-right: 1em;
    flex-basis: 15%;
}

.sub-sub-section .legislation-content {
    flex-basis: 85%;
}

.sub-sub-sub-section {
    display: flex;
}

.sub-sub-sub-section .sub-section-number {
    text-align: right;
    padding-right: 1em;
    flex-basis: 20%;
}

.sub-sub-sub-section .legislation-content {
    flex-basis: 80%;
}

.sub-sub-sub-sub-section {
    display: flex;
}

.sub-sub-sub-sub-section .sub-section-number {
    text-align: right;
    padding-right: 1em;
    flex-basis: 25%;
}

.sub-sub-sub-sub-section .legislation-content {
    flex-basis: 75%;
}

.textual-amendments {
    border: 1px solid #dddddd;
    padding: 1em;
}

.textual-amendments h3 {
    margin-top: 0;
}

.textual-amendments span {
    margin-right: 1em;
}

.textual-amendments a {
    font-weight: bold;
}

.textual-amendments p {
    margin-bottom: 0;
}

aside > div {
    border: 1px solid #383838;
    margin-top: 1em;
}

.version-information {
    display: flex;
    position: relative;
}

.version-information div {
    padding: 1em;
}

.version-information > div:first-child {
    background-color: #1d70b8;
    color: #FFF;
}

.version-information > div:first-child::after {
    content: "«";
    position: absolute;
    top: 5em;
    left: 0.8em;
}

.version-information .icon {
    text-align: center;
}

.version-information h2 {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.version-information i {
    font-size: 2em;
    background-color: #383838;
    padding: 0.3em;
    border-radius: 50%;
    color: #FFF
}

.version-information time {
    display: block;
    text-align: center;
}

.up-to-date {
    padding: 1em;
}

.in-force {
    padding: 1em;
}

.tna-button {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1em;
    background-color: #1d70b8;
    border-color: #1d70b8;
}

.print-and-download {
    margin-top: 0;
    border-top: none;
}

.print-and-download a {
    display: inline-block;
    padding: 0 0.5em;
    background-color: #1d70b8 !important;
}

.accordion .heading {
    background-color: #dde5d5;
    background-image: url(expand_more-24px.svg);
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%;
    padding: 1em;
    cursor: pointer;
}

.accordion .heading.expanded {
    background-color: #dde5d5;
    background-image: url(expand_less-24px.svg);
}

.accordion .toggled {
    padding: 1em;
    font-size: 90%;
}

.accordion ul {
    padding: 0 0 1em 0;
    border-bottom: 1px solid #dde5d5;
}

.accordion li {
    list-style: none;
}

.help-and-annotations {
    padding-bottom: 1em;
    border-bottom: 1px solid #dde5d5;
}

.tna-form__checkbox label::before {
    height: 20px;
    width: 20px;
    border: 2px solid #26262a;
    left: 0;
    top: 2px;
}

.tna-form__checkbox label::after {
    height: 6px;
    width: 11px;
    border-left: 2px solid #26262a;
    border-bottom: 2px solid #26262a;
    transform: rotate(-45deg);
    left: 5px;
    top: 7px;
}

.tna-form__row {
    margin-bottom: 0;
}

.read-with {
    padding-top: 1em;
}

.print-and-download .toggled > div {
    display: flex;
    margin-bottom: 0.5em;
}

.print-and-download .tna-button {
    margin-top: 0;
}

.print-and-download .toggled > div > *:first-child {
    flex-basis: 90%;
}



