body {
    background: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
    &:focus {
        @extend .focussed-element;
    }
}

a:hover {
    text-decoration: underline;
}

#holds-breadcrumb {
    margin: .5em 0;
}

#account-controls-wrapper {
    background-color: #555;
    color: #FFF;
}

#account-controls a {
    color: #FFF;
}

#signedFormWrapper li a:hover {
    background-color: #FCE45C;
    color: #000;
}

#search-expander {
    background-color: transparent;
}

#signedFormWrapper {
    background-color: #383838;
    color: #FFF;
}

#miniBasketWrapper {
    background-color: #383838;
    color: #FFF;
}

#miniBasketLink.expanded {
    background-color: #383838;
}

#signInLink.expanded {
    background-color: #383838;
}

h1, h2, h1 a, h2 a {
    color: #000;
}

.browse-record-creators {
    .call-to-action-link {
        background-color: #000;
        color: #fff;
        border: 2px solid #000;

        &:hover{
            background-color: #fff;
            color: #000;
            border: 2px solid #000;
            transition: none;
            -webkit-transition: none;
        }
    }
}

.call-to-action-link {
    background: #099;
    color: #fff;
}

.call-to-action-link:hover {
    background: #FCE45C;
    color: #000;
}

#mega-menu-pull-down {
    background-color: #CB0D07;
    border-color: #efefef;
}

#mega-menu-pull-down button {
    color: #FFF;
}

#footer-wrapper a {
    color: #fbe2bc;
}

.mega-menu {
    background-color: #405480;
    border-bottom-color: #405480;
    color: #fff;
}

.mega-menu li {
    background: transparent;
    border-color: #192132;
}

.mega-menu a {
    color: #fcfcfc;
    background: transparent;
}

.mega-menu h3 {
    color: #fff;
}

#page-header {
    background-color: #111;
}

#global-controls a.call-to-action-link:active {
    background: #AC0000;
    color: #fff;
}

h2 > span > span, h1 > span > span {
    color: #000;
}

input[type=submit], input[type=reset], #show-more-options span, #mobileSearchSubmit {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.discoveryPrimaryCallToActionLink, #search-filters input[type=submit]{
    font-family: "Roboto Mono", monospace;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 0.5em 0.9em;
    display: inline-block;
    min-width: 24px;
    text-align: center;
    &:hover {
        background-color: #fff;
        color: #000;
        text-decoration: underline;
    }
}

#mobile-search-wrapper #mobileSearchSubmit {
    background-color: #099;
}

#popular-collections .text-holder {
    background-color: #FFF;
    background-color: rgba(255,255,255,0.9)
}

#popular-collections a {
    color: #000;
    color: rgba(0,0,0,0.9);
}

#primary-search-wrapper {
    border-color: #222;
}

#primary-search-wrapper #submit {
    background-color: #099;
}

#primary-search-options li {
    background-color: #DEDEDE;
}


#primary-search-options li.selected {
    background-color: #222;
    color: #EFEFEF;
}


#primary-search-options a:link {
    color: #222;
}

#primary-search-options a:visited {
    color: #222;
}

#primary-search-options a:hover {
    color: #222;
}

#primary-search-options a:active {
    color: #222;
}

#options-button {
    background-color: #333;
    color: #EFEFEF;
}

#advanced-search-button {
    background-color: #099;
    color: #EFEFEF;
}

#change-destination span {
    color: #FFF;
}

#show-more-options span {
    color: #fff;
}


#search-options {
    background-color: #383838;
}

#search-options li a {
    color: #FFF;
}

#search-options li a:hover {
    background-color: #FCE45C;
    color: #000;
}

#scope-selector {
    background-color: #383838;
}


#search-options li a {
    color: #FFF;
}

#changeDestination {
    color: #FFF;
}

h2 > span > span a {
    color: #ffffff;
}


h3 > span > span {
    background-color: #333;
    color: #EFEFEF;
}

h3 > span > span a {
    color: #EFEFEF;
}

h4 {
    color: #383838;
}

.holding-box, .browse-box{
    background-color: #FFF
}

#search-options-outer-wrapper {
    background-color: #333333;
    color: #FFF
}

#search-options-outer-wrapper h4 {
    color: #FFF
}

#search-options-inner-wrapper a {
    color: #FFF
}

#search-options-inner-wrapper label {
    color: #FCE45C
}

#primary-search-box-discovery {
    background-color: transparent
}

#advanced-search-button:hover {
    background: #FCE45C;
    color: #000
}


.field-validation-error {
    background-color: #FFF;
    color: #CB0D07;
}

.box {
    background-color: #fff;
}

.search-tabs li a span {
    background-color: #FFF;
}

.search-tabs li a.current span {
    background-color: #333;
    color: #FFF;
}

#generic-tabs li {
    background-color: #fff;
}

#generic-tabs li.selected {
    background-color: #555;
    color: #fff;
}

#search-control-panel,
#search-refine {
    background-color: #eee;
}

#search-refine li {
    background: #FFF;
    border-color: #CCC;
}

#search-refine #remove-all-filters {
    background: #eee;
}

#search-refine #remove-all-filters a {
    color: #2A5DB0;
}

.js #sort {
    display: none;
}

.pagination li {
    color: #FFF;
}


.pagination li.current {
    color: #000;
    background-color: #fff;
    text-align: center;
    border: 2px solid #000;
    font-size: 1.25em;
    line-height: 44px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}



.pagination li a,
.number-of-results span a {
    color: #FFF;
	&:hover {
        background-color: #fff;
        color: #000;
	}
}

.pagination li.next a,
.pagination li.previous a {
    background-color: transparent;
    border: none;
    margin: 0 0.5em;
    color: #007bff;
		&:hover {
		color: #2A5DB0;
		text-decoration:underline;
	}
}

.number-of-results span.current-selection {
    color: #000;
    background-color: #fff;
    text-align: center;
    border: 2px solid #000;
    font-size: 1.25em;
    line-height: 44px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.highlight {
    background-color: rgba(252, 228, 92,.66);
}

