#what-to-expect {
    border: 2px solid $line-color;

    #introduction {
        @media (min-width:768px) {
            display: flex;

            #wteg-image-wrapper {
                padding-left: 1.5em;
                width: 100%;
            }
        }
    }
}

#expandable-sample {
    display: block;
    position: relative;

    img {
        max-width: 100%;
    }

    span {
        display: block;
        text-align: center;
        padding: .5em;
        bottom: .5em;
        position: absolute;
        background: #222;
        color: #fff;
        opacity: .7;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

.wte-message {
    background-color: #ececec;
    background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/menu-collapsed-small-dark.png);
    background-position: right 0.5em center;
    background-repeat: no-repeat;
    border-left: 4px solid #ddd;
    padding: 0.6em;

    &.expanded {
        background-image: url(https://discovery.nationalarchives.gov.uk/Content/images/menu-expanded-small-dark.png);
    }

    button {
        color: #2a5db0;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
