.education-landing {
    .education-mini-cards {
        h3 {
            font-size: 1em;
        }
    }
    .entry-content {
        width: 100%;
        margin-bottom: 1.6em;
    }
    .page-content {
        margin-right: 30%;
    }
    .subject-information {
        border-left: 2px solid #555555;
        p {
            padding: 1em;
        }
    }
    .bottom-spacing {
        margin-bottom: 2em;
    }
    .video {
        position: relative;
        .icon-square {
            margin: 1em 0.5em 0.5em;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: 68% 68%;
            background-repeat: no-repeat;
            background-color: #000;
            background-position: center;
            border: 1px solid #fff;
        }
        .icon-video {
            background-image: url(../img/video.png);
            width: 41px;
            height: 41px;
        }
    }
}