.archives-home {
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }

    /*START OF SVG Map*/
	.region-link {
	    font-size: 1.2em;
	}

	.archives-map {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
	}

	svg {
	    max-width: 100%;
	    max-height: 460px;
	}

	a path {
	    transition: .2s fill; fill: #099099;

	}

	a:hover path, a:focus path {
	    fill: #FCE45C;

	}

	path#ROI, path#IOM {
	fill: #cccccc;
	}

	title {
	    background: #000;
	    padding: 1em;
	    color: #fff;
	}
    /*END OF SVG Map*/

    #archives-browse {
        @media screen and (min-width: $break-large) {
            min-height: 470px;
        }
    }

    @media screen and (min-width: $break-large) {
        .archive-home-tools {
            > div, > ul {
                width: 50%;
                display: inline-block;
            }
            > div {
                margin-top: 1em;
                &:first-child {
                    float: left;
                }
            }
        }
	 }

    /*START OF archive search tool*/
    .archive-banner {
        background-color: #2F2F2F;
        padding-bottom: 0;
    }

    .archive-country-selector {
        padding-top: 1em;
    }

    .counties-selector {
        @extend .bullet-list;
    }

    .countries-selector {
        @extend .bullet-list;
    }

    .home-nations {
        ul {
            margin-top: 0;
        }
        li {
            display: inline-block;
        }
    }

    #archive-search-tool {
        color: #ddd;
        h1 {
            color: #FFF;
        }
        .archive-search-positioner {
            position: relative;
            min-height: 41px;
            @media screen and (min-width: $break-large) {
                width: 50%;
            }
        }
        fieldset {
            background-color: transparent;
            border: none;
            margin-bottom: 0;
        }
        label {
            @extend .hidden-but-accessible;
        }
        input[type="text"] {
            border-color: #FFF;
            height: 40px;
            padding-right: .5em;
            padding-left: .5em;
            position: absolute;
            width: 97%;
            top: 0;
            left: 0;
        }
        input[type=submit] {
            width: 40px;
            height: 40px;
            background: url(https://discovery.nationalarchives.gov.uk/Content/images/search-white.png) no-repeat center;
            background-size: cover;
            background-color: #099;
            color: transparent;
            border-radius: 0;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0!important;
        }
    }
    /*END OF archive search tool*/

}

